body{
   font-family:"Plus Jakarta Sans",sans-serif !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.container{
   flex:1;
}
 /* navbarb */
 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }
 .nav-link{
    color: #222222 !important;
 }
 /* footer */
 .f-info-links a{
    text-decoration: none;
    color: #222222;
 }
 .f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
 }
 .f-info-links,
  .f-info-socials,
  .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
 }
/* {
    width: 100%;
    font-size: 1.2rem;
    margin-right: 2rem;
 } */

 .f-info{
    text-align: center;
    height: 8rem;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

 }
 /* cards */
 .card{
   border: none !important;
   margin-bottom: 2rem;
 }
 .card-img-top{
   border-radius: 1rem !important;
   width: 100%;
   object-fit: cover !important;
   height: 200px;
 }
 .card-body{
   padding: 0 rem;
 }
 .listing_link{
   text-decoration: none;
 }
 .add_btn{
   border-radius: 10px;
   background-color: azure;
   color: gold;
   text-decoration: none !important;
 }
 a{
   text-decoration: none !important;
 }
 /* map */
 #map{
   height: 100px;
   width: 100px;
 }